%h2 Edit Boards
=form_with model: @board, url: board_path, local: true do |f|
  .field
    %p.label
      =f.label :name
    %p.formItem
      =f.text_field :name
  .field
    %p.label
      =f.label :description
    %p.formItem
      =f.text_area :description
      .actions
    %p
      = f.submit "Submit", class: "submitBtnUp"






