%h2 All Boards
.boardItem
  .boardItemInner
    .boardItemHead
      %p Brackets
      .menu_btn
        %span.maru
        %span.maru
        %span.maru
      %ul.menu
        %li Edit
        %li Delete
    %p Saving money - is something we would all like.
.newBoardItem
  %p.addBtn
    =link_to  new_board_path do
      %span.plus Add new board



